# Prediction of sales

### Problem Statement
[The dataset](https://drive.google.com/file/d/1B07fvYosBNdIwlZxSmxDfeAf9KaygX89/view?usp=sharing) represents sales data for 1559 products across 10 stores in different cities. Also, attributes of each product and store are available. The aim is to build a predictive model and determine the sales of each product at a particular store.

|Variable|Description|
|: ------------- |:-------------|
|Item_Identifier|Unique product ID|
|Item_Weight|Weight of product|
|Item_Fat_Content|Whether the product is low fat or not|
|Item_Visibility|The % of total display area of all products in a store allocated to the particular product|
|Item_Type|The category to which the product belongs|
|Item_MRP|Maximum Retail Price (list price) of the product|
|Outlet_Identifier|Unique store ID|
|Outlet_Establishment_Year|The year in which store was established|
|Outlet_Size|The size of the store in terms of ground area covered|
|Outlet_Location_Type|The type of city in which the store is located|
|Outlet_Type|Whether the outlet is just a grocery store or some sort of supermarket|
|Item_Outlet_Sales|Sales of the product in the particulat store. This is the outcome variable to be predicted.|

Please note that the data may have missing values as some stores might not report all the data due to technical glitches. Hence, it will be required to treat them accordingly.



### In following weeks, we will explore the problem in following stages:

1. **Hypothesis Generation – understanding the problem better by brainstorming possible factors that can impact the outcome**
2. **Data Exploration – looking at categorical & continuous feature summaries and making inferences about the data**
3. **Data Cleaning – imputing missing values in the data and checking for outliers**
4. **Feature Engineering – modifying existing variables and/or creating new ones for analysis**
5. **Model Building – making predictive models on the data**
---------

In [3]:
%run data_prep_exercise.ipynb

Frequency of Category of Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

Frequency of Category of Item_Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

Frequency of Category of Outlet_Size
Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

Frequency of Category of Outlet_Location_Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

Frequency of Category of Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [9]:
#remove item visibility based on identifier
item_visibility_avg = data.groupby('Item_Identifier', as_index= False)['Item_Visibility'].mean()
item_visibility_avg
data['Item_Visibility'] = data.groupby('Item_Identifier')['Item_Visibility'].apply(lambda x : x.fillna(x.mean()))

In [10]:
data['Item_Visibility'].isnull().sum()

0

## 4. Feature Engineering

1. Resolving the issues in the data to make it ready for the analysis.
2. Create some new variables using the existing ones.

### Create a broad category of Type of Item

`Item_Type` variable has many categories which might prove to be very useful in analysis. Look at the `Item_Identifier`, i.e. the unique ID of each item, it starts with either FD, DR or NC. If you see the categories, these look like being Food, Drinks and Non-Consumables. 

**Task:** Use the Item_Identifier variable to create a new column

In [13]:
#First two characters of ID
data["Item_Type_Combined"]=data["Item_Identifier"].apply(lambda x: x[0:2])
data["Item_Type_Combined"]

#Renaming
data['Item_Type_Combined'] = data['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
data['Item_Type_Combined'].value_counts()

Food              6125
Non-Consumable    1599
Drinks             799
Name: Item_Type_Combined, dtype: int64

### Determine the years of operation of a store

**Task:** Make a new column depicting the years of operation of a store (i.e. how long the store exists).

In [14]:
data['Outlet_Years']=2022-data['Outlet_Establishment_Year']

In [15]:
data['Outlet_Years'].describe()

count    8523.000000
mean       24.168133
std         8.371760
min        13.000000
25%        18.000000
50%        23.000000
75%        35.000000
max        37.000000
Name: Outlet_Years, dtype: float64

In [16]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined,Outlet_Years
0,FDA15,9.300,Low Fat,9.300,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,Food,23
1,DRC01,5.920,Regular,5.920,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,Drinks,13
2,FDN15,17.500,Low Fat,17.500,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,Food,23
3,FDX07,19.200,Regular,19.200,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,Food,24
4,NCD19,8.930,Low Fat,8.930,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,Non-Consumable,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,6.865,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,Food,35
8519,FDS36,8.380,Regular,8.380,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,Supermarket Type1,549.2850,Food,20
8520,NCJ29,10.600,Low Fat,10.600,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136,Non-Consumable,18
8521,FDN46,7.210,Regular,7.210,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976,Food,13
8522,DRG01,14.800,Low Fat,14.800,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700,Drinks,25

### Modify categories of Item_Fat_Content

**Task:** There are difference in representation in categories of Item_Fat_Content variable. This should be corrected.

In [18]:
data['Item_Fat_Content'] = data['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})
print (data['Item_Fat_Content'].value_counts())

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

**Task:** There are some non-consumables as well and a fat-content should not be specified for them. Create a separate category for such kind of observations.

In [20]:
data.loc[data['Item_Type_Combined']=="Non-Consumable",'Item_Fat_Content'] = "Non-Edible"
data['Item_Fat_Content'].value_counts()

Low Fat       3918
Regular       3006
Non-Edible    1599
Name: Item_Fat_Content, dtype: int64

### Numerical and One-Hot Encoding of Categorical variables

Since scikit-learn algorithms accept only numerical variables, we need to **convert all categorical variables into numeric types.** 

- if the variable is Ordinal we can simply map its values into numbers
- if the variable is Nominal (we cannot sort the values) we need to One-Hot Encode them --> create dummy variables

In [1]:
encode = pd.get_dummies(data['Item_Type'])
data = data.join(encode)

NameError: name 'pd' is not defined

In [27]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,...,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods
0,FDA15,9.300,Low Fat,9.300,Dairy,249.8092,OUT049,1999,Medium,Tier 1,...,0,0,0,0,0,0,0,0,0,0
1,DRC01,5.920,Regular,5.920,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,...,0,0,0,0,0,0,0,0,1,0
2,FDN15,17.500,Low Fat,17.500,Meat,141.6180,OUT049,1999,Medium,Tier 1,...,0,0,0,0,1,0,0,0,0,0
3,FDX07,19.200,Regular,19.200,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,...,1,0,0,0,0,0,0,0,0,0
4,NCD19,8.930,Non-Edible,8.930,Household,53.8614,OUT013,1987,High,Tier 3,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,6.865,Snack Foods,214.5218,OUT013,1987,High,Tier 3,...,0,0,0,0,0,0,0,1,0,0
8519,FDS36,8.380,Regular,8.380,Baking Goods,108.1570,OUT045,2002,Medium,Tier 2,...,0,0,0,0,0,0,0,0,0,0
8520,NCJ29,10.600,Non-Edible,10.600,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,...,0,0,1,0,0,0,0,0,0,0
8521,FDN46,7.210,Regular,7.210,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,...,0,0,0,0,0,0,0,1,0,0
8522,DRG01,14.800,Low Fat,14.800,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,...,0,0,0,0,0,0,0,0,1,0

In [29]:
#Ordingal encoding for outlet identifier
data.Outlet_Identifier=data.Outlet_Identifier.str[4:]
data.Outlet_Identifier=data.Outlet_Identifier.astype(int)

#Ordinal encoding for outlet location
data.Outlet_Location_Type=data.Outlet_Location_Type.str[4:]
data.Outlet_Location_Type=data.Outlet_Location_Type.astype(int)

In [30]:
def onehot(Row):
    
    if Row['Outlet_Size']=='Small':
        return 0
    elif Row['Outlet_Size']=='Medium':
        return 1
    elif Row['Outlet_Size']=='High':
        return 2

data['Outlet_Size']=data.apply(onehot, axis=1)

In [31]:
def onehot(Row):
    
    if Row['Item_Fat_Content']=='Low Fat':
        return 0
    elif Row['Item_Fat_Content']=='Regular':
        return 1

data['Item_Fat_Content']=data.apply(onehot, axis=1)

In [33]:
def onehot(Row):
    
    if Row['Outlet_Type']=='Grocery Store':
        return 0
    elif Row['Outlet_Type']=='Supermarket Type1':
        return 1
    elif Row['Outlet_Type']=='Supermarket Type2':
        return 2
    elif Row['Outlet_Type']=='Supermarket Type3':
        return 3

data['Outlet_Type']=data.apply(onehot, axis=1)

In [39]:
def onehot(Row):
    
    if Row['Item_Type_Combined']=='Non-Consumables':
        return 0
    elif Row['Item_Type_Combined']=='Drinks':
        return 1
    elif Row['Item_Type_Combined']=='Food':
        return 2

data['Item_Type_Combined']=data.apply(onehot, axis=1)

In [36]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,...,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods
0,FDA15,9.300,0.0,9.300,Dairy,249.8092,49,1999,1,1,...,0,0,0,0,0,0,0,0,0,0
1,DRC01,5.920,1.0,5.920,Soft Drinks,48.2692,18,2009,1,3,...,0,0,0,0,0,0,0,0,1,0
2,FDN15,17.500,0.0,17.500,Meat,141.6180,49,1999,1,1,...,0,0,0,0,1,0,0,0,0,0
3,FDX07,19.200,1.0,19.200,Fruits and Vegetables,182.0950,10,1998,1,3,...,1,0,0,0,0,0,0,0,0,0
4,NCD19,8.930,NaN,8.930,Household,53.8614,13,1987,2,3,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,0.0,6.865,Snack Foods,214.5218,13,1987,2,3,...,0,0,0,0,0,0,0,1,0,0
8519,FDS36,8.380,1.0,8.380,Baking Goods,108.1570,45,2002,1,2,...,0,0,0,0,0,0,0,0,0,0
8520,NCJ29,10.600,NaN,10.600,Health and Hygiene,85.1224,35,2004,0,2,...,0,0,1,0,0,0,0,0,0,0
8521,FDN46,7.210,1.0,7.210,Snack Foods,103.1332,18,2009,1,3,...,0,0,0,0,0,0,0,1,0,0
8522,DRG01,14.800,0.0,14.800,Soft Drinks,75.4670,46,1997,0,1,...,0,0,0,0,0,0,0,0,1,0

In [38]:
data.drop('Item_Type',axis = 1)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,...,Fruits and Vegetables,Hard Drinks,Health and Hygiene,Household,Meat,Others,Seafood,Snack Foods,Soft Drinks,Starchy Foods
0,FDA15,9.300,0.0,9.300,249.8092,49,1999,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,DRC01,5.920,1.0,5.920,48.2692,18,2009,1,3,2,...,0,0,0,0,0,0,0,0,1,0
2,FDN15,17.500,0.0,17.500,141.6180,49,1999,1,1,1,...,0,0,0,0,1,0,0,0,0,0
3,FDX07,19.200,1.0,19.200,182.0950,10,1998,1,3,0,...,1,0,0,0,0,0,0,0,0,0
4,NCD19,8.930,NaN,8.930,53.8614,13,1987,2,3,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,0.0,6.865,214.5218,13,1987,2,3,1,...,0,0,0,0,0,0,0,1,0,0
8519,FDS36,8.380,1.0,8.380,108.1570,45,2002,1,2,1,...,0,0,0,0,0,0,0,0,0,0
8520,NCJ29,10.600,NaN,10.600,85.1224,35,2004,0,2,1,...,0,0,1,0,0,0,0,0,0,0
8521,FDN46,7.210,1.0,7.210,103.1332,18,2009,1,3,2,...,0,0,0,0,0,0,0,1,0,0
8522,DRG01,14.800,0.0,14.800,75.4670,46,1997,0,1,1,...,0,0,0,0,0,0,0,0,1,0

**All variables should be by now numeric.**

---------
### Exporting Data

**Task:** You can save the processed data to your local machine as a csv file.

In [1]:
df = pd.DataFrame(data)

NameError: name 'pd' is not defined